extends layout

block head

  
  // styles for main page
  link(rel='stylesheet', href='/stylesheets/index.css')

  // all applications scripts
  script(src='node-uuid/uuid.js')
  script(src='javascripts/color.js')
  script(src='javascripts/core.js')
  script(src='javascripts/layout.js')
  script(src='javascripts/dbn.js')
  script(src='javascripts/dom_utils.js')
  script(src='javascripts/utils.js')
  script(src='javascripts/display.js')
  script(src='javascripts/layout.js')
  script(src='javascripts/element.js')
  script(src='javascripts/events.js')
  script(src='javascripts/xhr.js')
  script(src='javascripts/consts.js')
  script(src='javascripts/settings.js')
  script(src='javascripts/atgcapp.js')

block content

  .container
  
    .alert.alert-danger.hidden(role="alert" data-element="alertError")
      b Error&nbsp;
      span(data-element="errorMessage")
    
    .alert.alert-success.hidden(role="alert" data-element="alertSuccess")
      b Success&nbsp;
      span(data-element="successMessage")
      
    form.form-horizontal.sequence-form(data-element="sequenceForm")
      .form-group
        label.col-sm-2.control-label Nucleotides
        .col-sm-10
          input#SEQ.form-control.mono(data-element="sequenceInput" placeholder='e.g. ATGC')
      .form-group
        label.col-sm-2.control-label(for='DBN') D.B.N.
        .col-sm-10
          input#DBN.form-control.mono(type='text' placeholder='e.g. ..()..' data-element="dbnInput")
      .form-group
        label.col-sm-2.control-label(for='URL') Share URL
        .col-sm-10
          input#URL.form-control(type='text', placeholder='URL available after saving' data-element="shareURL")
      button.hidden(type="submit")
      
    div.toolbar
      button.btn.btn-success.btn-xs(data-element="displayButton") Display Sequence
      button.btn.btn-primary.btn-xs(data-element="newButton") New Sequence
      button.btn.btn-primary.btn-xs(data-element="shareButton") Save Sequence
      button.btn.btn-default.btn-xs(data-element="settingsButton") Settings
      
  
    div(data-element="displaySurface")
    
    .modal.fade(data-dialog='settings')
      .modal-dialog
        .modal-content
          .modal-header
            h3.modal-title Appearance / Display Settings
          .modal-body
            form.form-horizontal.sequence-form(data-element="sequenceForm")
            
              .form-group
                label.col-sm-4.control-label Base Color
                .col-sm-8
                  input#baseColor.form-control(placeholder="e.g. A=magenta or G=rgb(1,2,3)")

              .form-group
                label.col-sm-4.control-label Base Size
                .col-sm-8
                  input#baseSize.form-control(placeholder="A number in the range 10 -> 50")
  
              .form-group
                label.col-sm-4.control-label Font
                .col-sm-8
                  input#baseFont.form-control(placeholder="e.g. Arial or Verdana") 
                  
              .form-group
                label.col-sm-4.control-label Line Width
                .col-sm-8
                  input#lineWidth.form-control(placeholder="A number in the range 1 -> 20")          


          .modal-footer
            button.btn.btn-default(data-element='cancel-button', type='button') Cancel
            button.btn.btn-primary(data-element='confirm-button', type='button') Apply
