extends layout

block head

  link(rel='stylesheet', href='/stylesheets/index.css')

  script(src='node-uuid/uuid.js')
  script(src='javascripts/color.js')
  script(src='javascripts/core.js')
  script(src='javascripts/layout.js')
  script(src='javascripts/dbn.js')
  script(src='javascripts/dom_utils.js')
  script(src='javascripts/utils.js')
  script(src='javascripts/display.js')
  script(src='javascripts/layout.js')
  script(src='javascripts/element.js')
  script(src='javascripts/events.js')
  script(src='javascripts/xhr.js')
  script(src='javascripts/consts.js')
  script(src='javascripts/atgcapp.js')

block content

  .container
  
    .alert.alert-danger.hidden(role="alert" data-element="alertError")
      b Error&nbsp;
      span(data-element="errorMessage")
    
    .alert.alert-success.hidden(role="alert" data-element="alertSuccess")
      b Success&nbsp;
      span(data-element="successMessage")
      
    form.form-horizontal.sequence-form(data-element="sequenceForm")
      .form-group
        div.form-control(contenteditable="true")
      .form-group
        label.col-sm-2.control-label(for='SEQ') Nucleotides
        .col-sm-10
          input#SEQ.form-control(type='text', placeholder='ATCG' data-element="sequenceInput")
      .form-group
        label.col-sm-2.control-label(for='DBN') D.B.N.
        .col-sm-10
          input#DBN.form-control(type='text', placeholder='(..)' data-element="dbnInput")
      .form-group
        label.col-sm-2.control-label(for='URL') Share URL
        .col-sm-10
          input#URL.form-control(type='text', placeholder='URL available after saving' data-element="shareURL")
      button.hidden(type="submit")
      
    div.toolbar
      button.btn.btn-success(data-element="displayButton") Display Sequence
      button.btn.btn-default(data-element="newButton") New Sequence
      button.btn.btn-default(data-element="shareButton") Save Sequence
  
    div(data-element="displaySurface")
