doctype html
html
  head
    title="Nucleotides"
    
    // bootstrap
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    
    // app css
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // core 3rd party libraries
    script(src='underscore/underscore-min.js')
    script(src='underscore.string/dist/underscore.string.min.js')
    
    // create a head block for inheriting pages
    block head

  body
    .navbar.navbar-default
      .navbar-header
        a.navbar-brand(href="#") Nucleotides
      a.mebadge(href='https://www.linkedin.com/pub/duncan-meech/1/758/32b')
        img(src='https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png', width='160', height='33', border='0', alt="View Duncan Meech's profile on LinkedIn")


    block content
    
    script.

      document.addEventListener("DOMContentLoaded", function(event) {
        // mix underscore string into underscore
        _.mixin(s.exports());
        // we just assume there is an ATGC.App application waiting to exist!
        new ATGC.App();
      });
      
