doctype html
html
  head
    title="AGCU"
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default
      .navbar-header
        a.navbar-brand(href="#") AGCU
    block content
