@import "../../node_modules/bootstrap/less/variables.less";

// z-indices for display elements
@vertex-z: 100;
@edge-z: 50;


// min height of display area
@min-graph-height: 665px;

// color of display surface-color
@surface-color: white;

// inputs in the sequence form as monospaced
[data-element="sequenceForm"] input {
  font-family: monospace;
}

// display surface for graph
.display-surface {
  width: 100%;
  min-height: @min-graph-height;
  border: 1px solid @input-border;
  position: relative;
  background-color: @surface-color;
  overflow: hidden;
}
// base class for all absolutely positioned elements
.displayElement {
  position: absolute;
  transform-origin: 50% 50%;
}

// base class for vertex elements
.nucleotide {
  .displayElement;
  border-radius: 100%;
  font-size: 12px;
  transform: translateX(-50%) translateY(-50%);
  z-index: @vertex-z;
  border: 2px solid lightgray;
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.97);
}
// centered text on nucleotide
.nucleotide-text {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
}

// base class for edge elements
.edge {
  .displayElement;
  z-index: @edge-z;
}

// error message for DBN format.
.error-span {
  margin-left: 1rem;
  color: @brand-danger;
}
// sequence form
.sequence-form {
  padding: 1rem;
  border: 1px solid @input-border;
  margin-bottom: 1rem;
}
// action toolbar
.toolbar {
  border: 1px solid @input-border;
  padding: 1rem;
  margin-bottom: 1rem;
}
.toolbar * {
  margin-right: 1rem;
}
